<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>631450762071-692vmo69mfrc5klgrbv0a908vorumkq3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631450762071-692vmo69mfrc5klgrbv0a908vorumkq3</string>
	<key>API_KEY</key>
	<string>AIzaSyDIynzuVj7_QdnuaS6TF1bcGT1E5euEi7U</string>
	<key>GCM_SENDER_ID</key>
	<string>631450762071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.oliver.vpn</string>
	<key>PROJECT_ID</key>
	<string>hippovpn-3472a</string>
	<key>STORAGE_BUCKET</key>
	<string>hippovpn-3472a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631450762071:ios:2f10e190b25527749e9c12</string>
	<key>DATABASE_URL</key>
	<string>https://hippovpn-3472a.firebaseio.com</string>
</dict>
</plist>